@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #384B70;
  --foreground: #fcfaee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #384B70;
    --foreground: #fcfaee;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
